td.list_item_name {
    cursor: pointer;
}

td.list_item_name:hover {
    background-color: rgb(252, 248, 227);
}

a.detail_link {
    color: black;
    text-decoration: none;
}

#other {
    padding: 0px;
}

#other dl dt{
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.detail_description {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.2em;
    font-weight: inherit;
}

h4 {
    font-size: 1.1em;
    font-weight: bolder;
}

h3.detail-attribute-header {
    display: inline;
}

p.detail-attribute-value {
    display: inline;
}

div.element {
    margin-top: 20px;
}

dt#subjektivny-label, dt#detail-label {
    display: none;
}

div.alert-warning {
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:10px;
}

