@media print {
    div#header, div#footer, *.print-none, *.alert, input[type=submit] {
        display: none;
    }
    
    * {
        text-decoration: none;
        border: none;
        color: black;
    }
    
    h3.detail-attribute-header {
        display: inline;
    }

    p.detail-attribute-value {
        display: inline;
    }
    
    h4 , p.list-group-item-text{
        margin-left: 20px;        
    }
    
}

